<!DOCTYPE html>

<html>
  <head>
	<title>M.A.C. Golf Club Manager</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
	<div class="banner">
	  <div id="banner-content">
		<h1>Welcome to the Home of the M.A.C</h1>
	  </div>
	</div>
	<div class= "navigation">
	  <a href="#">Home</a>
	  <a href="#">Events</a>
	  <a href="#">Chat</a>
	  <a href="#">Calendar</a>
	</div>
	<div class="feed">
	  <div class="element">
		<p>
		  In this region we will place club and group messages, friend activity, and shared content.
		</p>
	  </div>
	  <div class="element">
		<p>
		  Example number 2.
		</p>
	  </div>
	</div>
  </body>
</html>
